<div class="container-fluid p-4 box" *ngIf="end==false">
    <div *ngIf="state==false" >
        <h2> STEP 1 : Select Video</h2>
        <div class="row">
            <div class="col-6">
<div class="container-fluid p-4">
    <div *ngIf="state" >
        <h2> STEP 1 : Select Video</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="right-content">
                    <p>
                        Click on <b>Select Video</b> to charge your video
                    </p>
                    <video [src]="url" *ngIf="format==='video' && url" controls></video> <br/>
                    <input type='file' class="btn btn-secondary btn-md btn-block" (change)="onSelectFile($event)" />
                    <br>
                    <button style="margin-top: 100px;"
                    *ngIf="format==='video'"
                    class="btn btn-block btn-large btn-success my-2 my-sm-0" 
                    (click)="onUpload()"
                    > Accept
                    </button>

                </div>
            
            </div>
            <div class="col-md-6">
                <div class="left-content"></div>
                <img src="./../../../assets/undraw_video_upload_3d4u.svg" width="500">
            </div>
        
        </div>
    </div>
    <div *ngIf="!state">
        <h2> STEP 2 : Select Thumbnail</h2>
        <div class="row">
            <div class="col-6" >
                <div class="right-content">
            <div class="col-md-6">
                <div class="right-content h-100">
                    <p>
                        Search in the video, until the picture that you want as thumbnail, and then press <b>Select Thumbnail</b>
                    </p>
                    <video (timeupdate)="setCurrentTime($event)" [src]="url" controls></video> <br/>
                    <br>
                    <button
                    class="btn btn-block btn-large btn-success my-2 my-sm-0" 
                    (click)="selectThumbnail()"
                    > Select Thumbnail
                    </button>

                </div>
            
            </div>
            <div class="col-md-6">
                <div class="left-content"></div>
                <img src="./../../../assets/undraw_video_upload_3d4u.svg" width="500">
            </div>
        
        </div>
    </div>
</div>
<div class="container-fluid p-4 box" *ngIf="end==true">
    <div class="alert alert-primary" role="alert">
        Your video already has generated, click on the upload button if you want upload more videos, o write in 'buscar' for search labels  of videos 
    </div>
</div>



