<div class="navbar navbar-expand-lg navbar-dark bg-custom-dark">
    <div class="navbar-brand">
        <h5><img src="assets/leaf.svg" height="40">Minitube</h5>
    </div>
    <form class="form-inline mx-auto">
        <div class="input-group">
            <input [(ngModel)]="words" type="text" name="search"  class="form-control rounded-input" placeholder="Buscar.." aria-label="search" aria-describedby="search">
            <div class="input-group-append">
                <button (click)="getCoincidences()" class="btn btn-outline-light rounded-button" type="button">Buscar</button>
            </div>
        </div>
    </form>
    <div class="mg-auto">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Subir video</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>

<footer class="bg-custom-dark">
    <img src="assets/leaf.svg" height="40">
    <h5>Whiteleaf</h5>
    <hr class="divider bg-divider">
    <p class="copyright-style">&#169; Whiteleaf, Inc. 2020</p>
</footer>