<div *ngIf="!coincidences || coincidences.length === 0" class="box text-center">
    {{message}}
</div>

<div class="container-fluid box" *ngIf="coincidences || coincidences.length > 0">
    <div  *ngIf="currentVideo" #onPlay>
        <video controls>
            <source [src]="currentVideo.video_url" type="video/mp4">
        </video>
        <div class="row p-2" *ngFor="let label of currentVideo.labels">
            <span class="badge badge-pill badge-primary col-md-1 m-2">{{label}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 m-2" *ngFor="let video of coincidences; let i = index">
            <div *ngIf="currentVideo !== video" class="card p-2 clickable" (click)="onPlay(video)">
                <div class="labels">
                    <div class="row p-2" *ngFor="let label of video.labels">
                        <span class="badge badge-pill badge-primary col-md-3 m-2">{{label}}</span>
                    </div>
                    <img class="preview" [src]="getImgSrc(video, i) || video.thumbnail_url" 
                    (mouseover)="onMouseOver(video, i)"
                    (mouseout)="onMouseOut(video, i)">
                </div>
            </div>
            
        </div>
    </div>
</div>