<div class="container-fluid p-4">
    <div class="row" *ngFor="let video of coincidences">

        <div class="col-md-3 card m-2 p-2">
            <div class="labels">
                <div class="row p-2" *ngFor="let label of video.labels">
                    <span class="badge badge-pill badge-primary col-md m-2">{{label}}</span>
                </div>
                <img class="preview" [src]="imgSrc || video.thumbnail_url" 
                (mouseover)="onMouseOver(video)"
                (mouseout)="onMouseOut(video)">
            </div>
        </div>
        
    </div>
</div>